body{margin: 0px auto;font: 13px/20px normal Arial, sans-serif;}
#logo { background: url("../public/images/logo.png") no-repeat; display: block; width: 182px; height: 42px; text-indent: -999px;}
#topHeader{background:#1ab4f0;padding: 10px;}
#topHeader span{color: black;font-weight: bold;}
#topHeader p , a{margin: 0px;color: white;padding-right: 10px;font-size: 15px;}
header { padding: 15px 0px;}
#info li{list-style-type: none;}
#info li h3{margin:0px;padding: 0px;font-size: 18px;color: black;font-weight: bold;}
#info li p{padding: 0px;margin-top: 5px;margin-bottom: 15px;color: black;} 
#statistics{background:#1ab4f0;padding:20px;line-height: 25px;margin-top: 20px;}
#statistics p , h4{margin:0px;color:white;font-weight: bold;}
#statistics h4{font-size:30px;}
#statistics ul{list-style-type: none;}
#statistics li{display:inline-block;padding:20px;margin-right: 50px;} 
.team h2{text-align: center;font-size: 35px;margin-top: 100px;margin-bottom: 20px;}
#ourTeam {list-style-type: none;}
#ourTeam li{display: inline-block;padding: 20px;margin: 10px;border: 1px solid #e9e9e9;}
#expertTeam{padding:50px 0px 20px 0px;}
#bar{background:#1ab4f0;padding:20px;line-height: 25px;margin-top: 20px;} 
#bar h2{margin-bottom: 0px;font-size:25px;color: white;}
#bar a{color:#1ab4f0;}
#bar span{color:white;font-size: 25px;font-weight: bold;}
footer{background:rgb(46, 44, 44); padding: 40px 0px 0px;}
footer #logo {display: block;margin-bottom: 10px;}
footer p , h4 , li{color: white;line-height: 25px;}
footer h4{position: relative;padding-bottom: 10px;}
footer h4>span{  position: absolute;  width: 8%;height: 2px; left: 3px;bottom: 0px; background: #1ab4f0;}
footer a{color: #1ab4f0;}
footer ul{list-style-type: none;padding: 3px;margin-top: 10px;}
.copyRight {color:white;border-top: 1px solid #484848;padding: 20px;}
.copyRight p{margin: 0px;}
.clear{clear: both;}
#bar{background: #1ab4f0;padding: 20px;}
.navbar-nav a{font-size: 15px;font-weight: bold;}
.bd-example , .card-group{margin-bottom: 80px;}
.card-group .card{margin-right: 15px;}
h2{font-weight: bold;}
.colorBlack { color: black}